body{
    background-color: #0d0d0d;
    font-family: "Inter", sans-serif;
    color: #f2f2f2;
    transition: all 0.5s ease
}
.intro-div{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-bottom: 50px;
}
.intro-text{
    margin-left: 15px;
}
.profile-img{
    height: 250px;
    border: solid 5px white;
    border-radius: 55px;
}
.hand-waving-img{
    height: 30px;
}
h1{
    font-weight: bolder;
}
h1, h2{
    margin: 4px;
}
h2{
    margin-left: 30px;
    max-width: 600px;
    margin-top: 16px;
    font-size: large;
}
.intro-text h2 span {
  color: #00ffe1;
  font-weight: 600;
}

.light-mode{
  background-color: #f2f2f2;
  color: #0d0d0d;
}
.light-mode .profile-img{
  border-color: black;
}
#mode-toggle{
  position: fixed;
  top: 20px;
  right: 20px;
  border: none;
  border-radius: 3px;
  cursor: pointer;
  background: none;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 50px;
  transition: all 0.3s;
}
#mode-toggle:hover{
  font-size: 55px;
}

@media (max-width: 768px) {
  .intro-div {
    flex-direction: column;
    text-align: center;
  }

  .intro-text {
    margin-left: 0;
    margin-top: 20px;
  }

  h2 {
    margin-left: 0;
    padding: 0 20px;
  }
  #mode-toggle{
    top: 10px;
    right: 10px;
    font-size: 32px;
  }
  #mode-toggle:hover{
    font-size: 36px;
  }

}